<div class="list-group">
  <a *ngFor="let item of items" [routerLink]="item.url" class="list-group-item list-group-item-action">
    <div class="media">
      <div class="media-left">
        <!--<img [src]="item.icon|trustAsImgUrl" [alt]="item.title" class="media-object">-->
        <!--trustAsImgUrl pipe is for working with inline svg-->
        <!--but since there's no loader in cli for inline svg, the pipe is not used here-->
        <img [src]="item.icon" [alt]="item.title" class="media-object">
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          {{item.title}}
        </h3>
        <p>
          {{item.description}}
        </p>
      </div>
      <div class="media-right">
        <!--<img src="assets/images/icons/chevron-right.svg" alt="右箭头" class="icon">-->
        <!--don't know how to add markup-inline-loader, use following work-around with extra css instead -->
        <template [ngTemplateOutlet]="(svgHolderService.holder | async)?.chevronRight"></template>
      </div>
    </div>
  </a>
</div>

