<template #nothingFound>
  <div class="alert alert-info" *ngIf="!items?.length">
    没有找到符合条件的作者
  </div>
</template>

<ng-container *ngIf="secId === 'articles'">

  <div class="list-group padding-h-neg">
    <template [ngTemplateOutlet]="nothingFound"></template>

    <a [routerLink]="['./', item.id]" class="list-group-item" *ngFor="let item of items">
      {{item.title}}   <small class="text-muted">[{{item.authors}}]</small>
    </a>

  </div>

</ng-container>


<ng-container *ngIf="secId === 'authors'">
  <template [ngTemplateOutlet]="nothingFound"></template>
  <app-menu-list [items]="menuItems"></app-menu-list>
</ng-container>



